SECTION
{
    margin: 20px;
	margin-left:40px;
}

div.table_header > div
{
	background:#0066ff;
}

div.table_body > div
{
	background:#0066ff;
}

div.div_table_column_1 
{
	color:white;
	position:relative;
	width:15%;
	float:left;
	padding:1%;
	margin:1%;
	border:none;
}

div.div_table_column_2 
{
	color:white;
	width:15%;
	padding:1%;
	margin:1%;
	float:left;
}

div.div_table_column_3 
{
	color:white;
	width:15%;
	padding:1%;
	margin:1%;
	float:left;
}

div.div_table_column_4 
{
	color:white;
	width:39%;
	padding:1%;
	margin:1%;
	float:right;
}
